<section id="detallesempleados">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>{{infoempleado.nombre}}</h3>
      </div>
      <div class="col-md-12">
        <div class="card card-body bg-light">
          <p>Nombre: <span>{{infoempleado.nombre}}</span></p>
          <p>Edad <span>{{infoempleado.edad}}</span></p>
          <p>Cargo: <span>{{infoempleado.cargo}}</span></p>
          <small><b>CODIGO: {{infoempleado.id}}</b></small>
        </div>
      </div>
    </div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/lugares">Empleados</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{infoempleado.nombre}}</li>
      </ol>
    </nav>
  </div>
</section>
